<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Thoughts</title>
</head>
<body>
<p align="center">
    <b>6/12/16</b><br/>
    I realized that I say what people want to hear. I think the best example of this is the typical stereotype that
    I am not supposed to like school. I say I am not happy or that school is so boring when in actuality, studying is
    not terrible. I have a place to stay, doing something productive with my time, and the people there are friendly.
    There is no reason why I should be complaining about my current situation. Where are my own thoughts? Am I so
    governed by the culture of this society that I have completely stopped thinking for myself? What does it mean
    to have individual thoughts and not conform to the patterns of this world?

    How do you live by constant faith in future grace? By looking back on the past blessings and grace and realizing
    that there is more to come? That God has more in store for us?<br/><br/>

    <b>6/13/16</b><br/>
    Once again, I am reminded of my lack of humility based on today's performance. Scoring 700 on the GMAT brought me
    way too much satisfaction. I was so proud of my score that I did not know how to respond in humbleness. I thought
    my own ability to be my own and attributing to me being a native speaker than the talents that have been
    graciously bestowed upon me. God has given me the ability to perform the way I did on the mock exam. I should
    properly think God for it. If it is His will, then let me do well on this exam. Let me prepare properly and give
    Him the credit that He so deserves.<br/><br/>

    <b>6/14/16</b><br/>
    Why is my heart so heavy? Why can't I get over the things of the past? I should have been fine by now. Stacy should
    not cross my mind. What does that mean? Yet my heart is still conflicted on my feelings for Christy. I was so sure
    I liked her yet how could I possibly be caught up with Stacy and still feel the way I do towards Christy? Is not
    the fact that I still think about Christy so much represent the idea that my heart has feelings toward her? Lord,
    please help me to focus on the important things in life, such as the grace that is in front of me and carrying me
    through each day, rather than the trivial things. Please help me yearn for you more. Let my life be a testament to
    your goodness. I need you. I am nothing without you. Please let me focus on building such a foundation prior to
    thinking about these relationship matters. <br/><br/>

    <b>6/16/16</b><br/>
    I am indeed lonely. It should not have taken me this long to accept it. I still miss the presence of someone next
    to me, who would always be there to support me. Someone who would love me as I am, regardless of how good or bad I
    had acted in their eyes. There is something that is so comforting when there is someone that is on your side.
    The feeling is very different from those who are just friends. The other person just knows you on such a more
    intimate level. I find so much joy and comfort in being able to speak to someone freely without anything holding me
    back, regardless of the topic or the subject. One of the things that I enjoy and look forward to is being able to
    share about my day with whoever becomes my wife. Maybe that is too looking forward though... Is me thinking
    about marriage such a bad thing? Am I seriously that not content with the world around me as of right now...?
    But, I have come to realize that it is very dangerous not being satisfied with where I am at. I have this looming
    sense of unsatisfaction but the answer lies in prayer. If I can find my satisfaction in God, I am sure nothing can
    shake me from that foundation. So, Lord, help me to be satisfied with where I am, with who I am.
    Help me to be only defined by who I am within you, not by the people around me.<br/><br/>

    <b>6/20/16</b><br/>
    I have to score well on the GMAT. If this is what I am supposed to do, then, in order to make up for my low GPA,
    my GMAT score will have to be 720+. What does this entail? Verbal 49 or 50 and Quantitative 40+. Only this way
    will my score be high enough to compete with those who are applying.<br/>
    I have this thought that it would be necessary for me to make a vow with God to deal with my issue of lust. What
    time frame we are looking at is still up in the air but regardless, I need to take it up with God.
    <br/><br/>

    <b>7/06/16</b><br/>
    Well, long time to write. Looking back at my past entries, there is progress. Putting these thoughts and ideas
    onto this "thing" (for lack of better description) has allowed me to alleviate some pressures. Let it be written
    here, as it has been on my heart: I vowed to not lust after pornographic material since last week(?) or a few days
    ago so that I might bring about not any glory to my self but a conscious effort to remain away from the thing that
    I know has caused me so much guilt. I think regardless of whether or not I do well on this exam, I need to make
    a valiant effort in staying true to what I believe in. This will hopefully be the first step in overcoming this
    particular sin. Do not forget this, Kevin.
    The other thing. The more important thing on my heart currently. I have been trying really hard not to think about
    my reaction tomorrow because that is a dangerous thing. If I envision myself doing well, then there is a
    possibility that I do not meet my expectations and blame others or worse, God. If I envision myself doing poorly,
    I do not give enough credit to God for all this time and I put myself in a hole of despair. So, I have been trying
    to focus on the present moment. I hope that I can continue to do this throughout the exam. Despite all the time I
    spent practicing, I feel inadequate. I feel unprepared. I feel as if there is no way I can do well. I wonder if
    this feeling is a lack of trust in God. Anxiety I understand is something that can be conquered by more faith. And,
    I hope that this anxiety gives me an opportunity to rely fully on God for peace and comfort. But, as for the other
    feeling, I should also bring that up with God. If God has so carefully placed in this situation, and I am called to
    this path, I am sure that God will carry me through this. With His guidance and strength and graciously bestowed
    knowledge, I have been able to learn and hopefully improve. May I rest on His promises and confidently entrust this
    entire situation, this test, this life, everything, unto the Lord Most High. All I am is yours. I need you more,
    Lord. Let your will be done, and if this is your will, help me to do well and give the credit to you.
    It is so hard to place my trust in someone else. I do not fully understand this concept nor have I completely given
    myself up. Tomorrow will definitely test me. Let the rest of this evening be filled with prayer and supplication.
    Bless my test-taking tomorrow Lord, if that is your will.
    <br/><br/>

    <b>Quotes</b><br/>
    "Just as Abraham lifted the knife over the chest of his son Isaac, but then spared his son because there was a
    ram in the thicket, so God the Father lifted the knife over the chest of his own Son, Jesus--but did <i>not</i>
    spare him, because he <i>was</i> the ram; he <i>was</i> the substitute." <br/>
    - John Piper's <i>Future Grace</i> (pg. 110)<br/><br/>

    "Fear not, for I am with you; be not dismayed, for I am your God; I will strengthen you, I will help you,
    I will uphold you with my righteous right hand" (Isaiah 41:10).<br/><br/>

    "The foundation of the all-encompassing promise of future grade is that the Son of God bore in his body
    all my punishment and all my guilt and all my condemnation and all my blame and all my fault and all my corruption,
    so that I might stand before a great and holy God, forgiven, reconciled, justified, accepted, and the
    beneficiary of unspeakable promises of pleasure forever and ever at his right hand." <br/>
    - John Piper's <i>Future Grace</i> (pg. 111)<br/><br/>

    "The freest life of love is the life saturated with the confidence that nothing comes to me but what is good
    for me." <br/>
    - John Piper's <i>Future Grace</i> (pg. 125)<br/><br/>

    "Don't feel shame for something that honors God, no matter how weak or foolish it makes you look in the eyes of
    others... Do feel shame for having a hand in anything that dishonors God, no matter how strong or wise or
    right it makes you look in the eyes of others." <br/>
    -John Piper's <i>Future Grace</i> (pg. 133)<br/><br/>

    "What makes love possible between us and a God who commands is that he does not speak from a distance and leave
    us to our own resources. He draws near and gives us himself as he gives us his commandments." <br/>
    -John Piper's <i>Future Grace</i> (pg.156)<br/><br/>

    "It is not merely the <i>security</i> of the promises that frees us from motives to sin; but also the
    <i>sweetness</i> of the beauty of God in the promises. It is the <i>spiritual nature</i> of the things promised.
    When we apprehend the spiritual beauty or sweetness of what is promised, and delight in it, not only are we freed
    from the insecurity of greed and fear that motivate so much sin, but we are also shaped in our values by what we
    cherish in the promise." <br/>
    -John Piper's <i>Future Grace</i> (pg. 203)<br/><br/>

    "If we are to come to Jesus the way Jesus teaches us to come, we will have to be drawn by God. Our hate for the
    light will have to be overcome by God. Our distaste for the bread of heaven and the water of life will have to be
    transformed by God. Our love affair with the praises of men will have to be shattered by God. Our only hope is
    free and sovereign grace." <br/>
    -John Piper's <i>Future Grace</i> (pg. 216)<br/><br/>
</p>
</body>
</html>